@{
    ViewData["Title"] = "Admin Panel";
}
@model AdminPanelViewModel

<div class="w-full h-full flex">
    @Html.Partial("_AdminNavbar")
    <div class="w-full h-full flex flex-col items-center gap-8 bg-gray-300">
        <div class="mt-8 flex w-[94%] items-center justify-between bg-white p-4 shadow-md">   
            <form asp-controller="Admin" asp-action="SearchOrganizations" method="post" class="flex w-full max-w-md items-center gap-2">
                <input name="Search" value="@Model.Search" type="text" placeholder="Search" class="placeholder-gray-400 w-full border border-gray-300 px-3 focus:outline-none focus:border-gray-400"/>
                <button type="submit" class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Search</button>
            </form>
            <a asp-action="AdminCreatePanel" asp-controller="Admin" class="inline-flex h-[30px] items-center justify-center text-sm bg-white hover:bg-gray-100 text-black font-semibold px-6 rounded-lg shadow-sm border border-gray-300 hover:cursor-pointer">Create</a>
        </div>
        <div class="w-[94%] h-[82%] bg-white shadow-md p-4 mx-5">
            <div class="overflow-y-auto max-h-[93%]">
                <table class="min-w-full">
                    <thead class="bg-white">
                        <tr>
                            <th class="w-[247px] text-left px-6 py-3 text-sm font-bold text-black">Organization Name</th>
                            <th class="w-[247px] text-left px-6 py-3 text-sm font-bold text-black">Manager</th>
                        </tr>
                    </thead>
                    <tbody class="font-semibold text-gray-700 text-md">
                        @if (Model.Organizations != null && Model.Organizations.Any())
                        {
                            @for (int i = 1; i < Model.Organizations.Count(); i++)
                            {
                                var organization = Model.Organizations[i];

                                var rowClass = i % 2 == 0 ? "bg-gray-200" : "bg-gray-100";

                                <tr class="@rowClass hover:bg-gray-300 hover:cursor-pointer">
                                    <td class="w-[247px] px-6 py-3">@organization.OrganizationName</td>
                                    <td class="w-[247px] px-6 py-3">@organization.ManagerName</td>
                                    <td class="w-[247px] px-6 py-3 text-right">
                                        <a asp-action="AdminEditPanel" asp-controller="Admin" asp-route-organizationId="@organization.OrganizationId"
                                           class="inline-flex h-[30px] text-sm items-center justify-center bg-white hover:bg-gray-100 text-black font-semibold px-8 rounded-lg shadow-sm border border-gray-300 hover:cursor-pointer">
                                            Edit
                                        </a>
                                        <form asp-action="DeleteOrganization" asp-controller="Admin" asp-route-organizationId="@organization.OrganizationId" method="post" style="display:inline;">
                                            <button type="submit" class="inline-flex h-[30px] text-sm items-center justify-center bg-white hover:bg-gray-100 text-black font-semibold px-6 rounded-lg shadow-sm border border-gray-300 hover:cursor-pointer">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="px-6 py-4 text-left font-semibold text-gray-500">
                                    No organizations found
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>