@{
    ViewData["Title"] = "Account Edit Panel";
}
@model AccountEditPanelViewModel

<div class="flex h-full w-full">
    @Html.Partial("_Navbar")
    <div class="flex h-full w-full items-center justify-center bg-gray-300">
        <form asp-action="EditAccount" asp-controller="Account" method="post" class="flex h-[92%] w-[94%] flex-col items-center justify-center gap-8 bg-white shadow-md">
            <p class="text-4xl font-semibold">Edit account</p>
            <div class="flex h-[60px] w-[800px] flex-col justify-center gap-2">
                <p class="select-none">Name*</p>
                <input asp-for="Name" class="h-[40px] w-[800px] rounded-md border border-gray-300 bg-white p-2 transition duration-300 ease-in-out focus:scale-[1.02] focus:outline-none"/>
            </div>
            <div class="flex h-[60px] w-[800px] flex-col justify-center gap-2">
                <p class="select-none">Email*</p>
                <input asp-for="Email" class="h-[40px] w-[800px] rounded-md border border-gray-300 bg-white p-2 transition duration-300 ease-in-out focus:scale-[1.02] focus:outline-none"/>
            </div>
            <div class="flex h-[60px] w-[800px] flex-col justify-center gap-2">
                <p class="select-none">Password*</p>
                <input asp-for="Password" type="password" class="h-[40px] w-[800px] rounded-md border border-gray-300 bg-white p-2 transition duration-300 ease-in-out focus:scale-[1.02] focus:outline-none"/>
            </div>
            <div class="flex h-[60px] w-[800px] flex-col justify-center gap-2">
                <div class="flex gap-3">
                    <p class="select-none">Role*</p>
                    <span asp-validation-for="SelectedRole" class="text-lg text-red-500"></span>
                </div>
                <div class="dropdown-group relative">
                    <div onclick="toggleRoleDropdown()" class="toggle-roledropdown flex h-[40px] w-[800px] cursor-pointer items-center justify-between rounded-lg border border-gray-300 bg-white px-4 select-none">
                        <p id="selectedRole" class="m-0 font-semibold">
                            @Model.SelectedRole.Name
                        </p>
                        <img id="dropdownArrow" src="~/images/Arrow.svg" class="h-[50%] rotate-0 transition-transform duration-100" />
                    </div>

                    <div id="dropdownRoleContent" class="dropdown-content absolute z-50 mt-2 hidden h-[60px] w-[800px] overflow-y-auto rounded-xl border border-gray-300 bg-white shadow-lg">
                        @foreach (var item in Model.Roles)
                        {
                            <div onclick="selectRole('@item.RoleId','@item.Name')" 
                                class="cursor-pointer px-6 py-3 text-lg font-semibold text-[#2C3E50] hover:bg-gray-100 hover:first:rounded-t-xl hover:last:rounded-b-xl">
                                @item.Name
                            </div>
                        }
                    </div>
                </div>
                <input asp-for="SelectedRole.RoleId" type="hidden" id="SelectedRole" name="SelectedRole.RoleId"/>
                <input asp-for="SelectedRole.Name" type="hidden" id="SelectedRoleName" name="SelectedRole.Name"/>
            </div>
            <button type="submit" class="h-[40px] w-[800px] rounded-lg border border-gray-300 bg-white px-6 font-semibold text-black shadow-sm hover:bg-gray-100 hover:cursor-pointer">Save</button> 
        </form>
    </div>
</div>