@{
    ViewData["Title"] = "Roles Edit panel";
}
@model RoleCreateEditPanelViewModel

<div class="flex h-full w-full">
    @Html.Partial("_Navbar")
    <form asp-action="EditRole" asp-controller="Role" method="post" class="w-full h-full flex flex-col items-center gap-4 bg-gray-300">
        <div class="w-[94%] h-[93%] flex flex-col items-center gap-6">
            <div class="w-full flex items-center justify-center bg-white gap-2 shadow-md p-4 mt-2">   
                <p class="w-fit text-md font-semibold m-0 text-black">Role Name:</p>
                <input asp-for="RoleName" type="text" value="@Model.RoleName" placeholder="Type role name" class="w-[600px] px-2 placeholder-gray-400 border border-gray-300 focus:outline-none focus:border-gray-400"/>     
            </div>
            <div class="mx-5 h-full w-full bg-white p-4 shadow-md">
                <div class="flex h-full w-full flex-col items-center gap-5">

                    <div class="flex w-full items-center justify-center gap-2">
                        <input type="text" placeholder="Search permission" class="placeholder-gray-400 w-[600px] border border-gray-300 px-3 focus:outline-none focus:border-gray-400"/>
                        <button type="button" class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Search</button>
                    </div>

                    <table class="w-[650px]">
                        <tbody>
                            @foreach (var permission in Model.Permissions)
                            {
                                <tr class="flex w-full flex-col">
                                    <td class="w-full">
                                        <input type="checkbox" id="toggle-@permission.PermissionId" class="peer hidden" />

                                        <div class="flex w-full items-center justify-between border-b py-1.5">

                                            <div class="flex items-center gap-2">
                                                <input name="permissionIds" value="@permission.PermissionId" type="checkbox" class="h-[15px] w-[15px] border border-gray-300"
                                                @(Model.SelectedPermissions.Any(p => p.PermissionId == permission.PermissionId) ? "checked" : "")/>
                                                <label class="text-black">@permission.Name</label>
                                            </div>

                                            <label for="toggle-@permission.PermissionId" class="cursor-pointer pr-1">
                                                <img src="../images/plus.svg" class="h-[15px] transition-transform duration-300 peer-checked:rotate-45" />
                                            </label>
                                        </div>

                                        <div class="flex max-h-0 flex-col gap-1 overflow-hidden pt-2 pl-6 text-sm text-gray-600 transition-all duration-300 peer-checked:max-h-64">
                                            @{
                                                var children = Model.ChildPermissions.Where(c => c.ParentId == permission.PermissionId);
                                            }
                                            @if (children.Any())
                                            {
                                                foreach (var child in children)
                                                {
                                                    <label class="flex items-center gap-2">
                                                        <input type="checkbox" name="permissionIds" value="@child.PermissionId" class="h-[16px] w-[16px] border border-gray-300"
                                                        @(Model.SelectedPermissions.Any(p => p.PermissionId == child.PermissionId) ? "checked" : "") />
                                                        @child.Name
                                                    </label>
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="flex h-fit w-[94%] items-center justify-end gap-2">
            <a asp-action="RolesPanel" asp-controller="Role" class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Discard</a>
            <input type="hidden" asp-for="@Model.RoleId" />
            <input type="hidden" asp-for="@Model.RoleName"/>
            <button type="submit" class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Save</button>            
        </div>
    </form>
</div>