﻿@{
    ViewData["Title"] = "Roles Create panel";
}
@using NotificationApp.Models
@model RoleCreateEditPanelViewModel

<div class="flex h-full w-full">
    @Html.Partial("_Navbar")

    <form asp-action="CreateRole" asp-controller="Role" method="post" class="flex h-full w-full flex-col items-center gap-4 bg-gray-300">
        <div class="flex h-[93%] w-[94%] flex-col items-center gap-6">
            <div class="mt-2 flex w-full items-center justify-center gap-2 bg-white p-4 shadow-md">   
                <p class="text-2xl font-semibold">Create Role</p>
            </div>
            
            <div class="mx-5 h-full w-full bg-white p-4 shadow-md">
                <div class="flex h-full w-full flex-col items-center gap-5">

                    <div class="flex w-full items-center justify-center gap-2">
                        <p class="text-md m-0 w-fit font-semibold text-black">Role Name:</p>
                <input asp-for="RoleName" type="text" placeholder="Type role name" class="placeholder-gray-400 w-[600px] border border-gray-300 px-2 focus:outline-none focus:border-gray-400"/>
                    </div>

                    <table class="w-[650px]">
                        <tbody>
                            @foreach (var permission in Model.Permissions)
                            {
                                <tr class="flex w-full flex-col">
                                    <td class="w-full">
                                        <input type="checkbox" id="toggle-@permission.PermissionId" class="peer hidden" />

                                        @{
                                            var isChecked = Model.SelectedPermissions.Any(p => p.PermissionId == permission.PermissionId) ? "checked" : "";
                                            var children = Model.ChildPermissions.Where(c => c.ParentId == permission.PermissionId).ToList();
                                            var hasChildren = children.Any();
                                        }
                                        <div class="border-b py-1.5 flex justify-between items-center w-full">
                                            <div class="flex items-center gap-2">
                                                <input id="parent-@permission.PermissionId"
                                                    name="permissionIds"
                                                    value="@permission.PermissionId"
                                                    type="checkbox"
                                                    class="w-[15px] h-[15px] border border-gray-300 parent-checkbox"
                                                    data-child-container-id="child-container-@permission.PermissionId"
                                                    @isChecked />

                                                <label class="text-black" for="parent-@permission.PermissionId">@permission.Name</label>
                                            </div>

                                            @if (hasChildren)
                                            {
                                                <label for="parent-@permission.PermissionId" class="cursor-pointer pr-1">
                                                    <img src="../images/plus.svg"
                                                        class="h-[15px] transition-transform duration-300 toggle-icon"
                                                        data-icon-id="@permission.PermissionId" />
                                                </label>
                                            }
                                        </div>

                                        @if (hasChildren)
                                        {
                                            <div id="child-container-@permission.PermissionId"
                                                class="pl-6 pt-2 transition-all duration-300 flex flex-col gap-1 text-sm text-gray-600"
                                                style="display: @(isChecked == "checked" ? "block" : "none")">

                                                @foreach (var child in children)
                                                {
                                                    <label class="flex items-center gap-2">
                                                        <input type="checkbox"
                                                            name="permissionIds"
                                                            value="@child.PermissionId"
                                                            class="w-[16px] h-[16px] border border-gray-300 child-checkbox"
                                                            data-parent-id="@permission.PermissionId"
                                                            @(Model.SelectedPermissions.Any(p => p.PermissionId == child.PermissionId) ? "checked" : "") />
                                                        @child.Name
                                                    </label>
                                                }
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="flex h-fit w-[94%] items-center justify-end gap-2">
            <a asp-action="RolesPanel" asp-controller="Role" class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Discard</a>
            <button type="submit" class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Save</button>            
        </div>
    </form>
</div>
