@{
    ViewData["Title"] = "Devices Panel";
}
@model DevicePanelViewModel

<div class="flex h-full w-full">
    @Html.Partial("_Navbar")
    <div class="flex h-full w-full flex-col items-center gap-8 bg-gray-300">
        <div class="mt-8 flex w-[94%] items-center justify-between bg-white p-4 shadow-md">   
            <div class="flex w-full max-w-md items-center gap-2">
                <input type="text" placeholder="Search" class="placeholder-gray-400 w-full border border-gray-300 px-3 focus:outline-none focus:border-gray-400"/>
                <button class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Search</button>
            </div>
            <div class="flex h-full w-1/2 justify-end gap-3"> 
                <a asp-action="DevicesCreateEditPanel" asp-controller="System" class="rounded-lg border border-gray-300 bg-white px-5 font-semibold text-black shadow-sm hover:bg-gray-100 hover:cursor-pointer">Create</a>
            </div>
            
        </div>
        <div class="mx-5 h-[82%] w-[94%] bg-white p-4 shadow-md">
            <div class="flex w-full justify-between bg-white">
                <div class="flex gap-60">
                    <p class="px-6 py-3 text-left text-sm font-bold text-black">Device Name</p>
                    <p class="px-6 py-3 text-left text-sm font-bold text-black">Location</p>
                </div>
                <p class="px-6 py-3 pr-25 text-right text-sm font-bold text-black">Status</p>
            </div>
            <div class="overflow-x-auto">
                @for (int i = 0; i < Model.Devices.Count(); i++) 
                {
                <table class="w-full text-left text-sm font-semibold text-gray-700">
                    <tbody class="group">
                    @if (i%2==0)
                    {
                    <tr class="relative bg-gray-100 even:bg-white hover:bg-gray-300 hover:cursor-pointer">
                        <td class="w-[400px] py-3 pl-6">@Model.Devices[i].Name</td>
                        <td class="w-[400px] py-3">@Model.Devices[i].Location</td>
                        <td class="relative flex w-[400px] justify-end overflow-hidden py-3 pr-3">
                        @if (Model.Devices[i].DeviceStatus == 0)
                        {
                            <div class="flex items-center gap-2">
                                <div class="h-[25px] w-[25px] rounded-full bg-green-500 shadow-md"></div>
                                    <p class="font-bold">Online</p>
                            </div>
                        }
                        else 
                        {
                            <div class="flex items-center gap-2">
                                <div class="h-[25px] w-[25px] rounded-full bg-red-500 shadow-md"></div>
                                    <p class="font-bold">Offline</p>
                            </div>
                        }
                        </td>
                    </tr>
                    }
                    else 
                    {
                    <tr class="relative w-full bg-gray-200 even:bg-white hover:bg-gray-300 hover:cursor-pointer">
                        <td class="w-[400px] py-3 pl-6">@Model.Devices[i].Name</td>
                        <td class="w-[400px] py-3">@Model.Devices[i].Location</td>
                        <td class="relative flex w-[400px] justify-end overflow-hidden py-3 pr-3">
                        @if (Model.Devices[i].DeviceStatus == 0)
                        {
                            <div class="flex items-center gap-2">
                                <div class="h-[25px] w-[25px] rounded-full bg-green-500 shadow-md"></div>
                                    <p class="font-bold">Online</p>
                            </div>
                        }
                        else 
                        {
                            <div class="flex items-center gap-2">
                                <div class="h-[25px] w-[25px] rounded-full bg-red-500 shadow-md"></div>
                                    <p class="font-bold">Offline</p>
                            </div>
                        }
                        </td>
                    </tr>
                    }
                    </tbody>
                </table> 
                }
            </div>
        </div>
    </div>
</div>