@{
    ViewData["Title"] = "Devices Panel";
}
@using NotificationApp.Models
@model DevicePanelViewModel

<div class="flex h-full w-full">
    @Html.Partial("_Navbar")
    <div class="flex h-full w-full flex-col items-center gap-8 bg-gray-300">
        <div class="mt-8 flex w-[94%] items-center justify-between bg-white p-4 shadow-md">   
            <div class="flex w-full max-w-md items-center gap-2">
                <input type="text" placeholder="Search" class="placeholder-gray-400 w-full border border-gray-300 px-3 focus:outline-none focus:border-gray-400"/>
                <button class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Search</button>
            </div>
        </div>
        <div class="w-[94%] h-[82%] bg-white shadow-md p-4 mx-5">
            <div class="flex w-full bg-white justify-between">
                <div class="flex gap-60">
                    <p class="text-left px-6 py-3 text-sm font-bold text-black">Device Name</p>
                    <p class="text-left px-6 py-3 text-sm font-bold text-black">Location</p>
                </div>
                <p class="text-right px-6 py-3 text-sm font-bold text-black pr-25">Status</p>
            </div>
            <div class="overflow-x-auto">
                @for (int i = 0; i < Model.Devices.Count(); i++) 
                {
                <table class="w-full text-sm text-left text-gray-700 font-semibold">
                    <tbody class="group">
                    @if (i%2==0)
                    {
                    <tr class="relative bg-gray-100 even:bg-white hover:bg-gray-300 hover:cursor-pointer">
                        <td class="w-[400px] pl-6 py-3">@Model.Devices[i].Name</td>
                        <td class="w-[400px] py-3">@Model.Devices[i].Location</td>
                        <td class="w-[400px] py-3 pr-3 flex justify-end relative overflow-hidden">
                        @if (Model.Devices[i].DeviceStatus == 0)
                        {
                            <div class="flex gap-2 items-center">
                                <div class="bg-green-500 w-[25px] h-[25px] shadow-md rounded-full"></div>
                                    <p class="font-bold">Online</p>
                            </div>
                        }
                        else 
                        {
                            <div class="flex gap-2 items-center">
                                <div class="bg-red-500 w-[25px] h-[25px] shadow-md rounded-full"></div>
                                    <p class="font-bold">Offline</p>
                            </div>
                        }
                        </td>
                    </tr>
                    }
                    else 
                    {
                    <tr class="relative bg-gray-200 hover:bg-gray-300 even:bg-white hover:cursor-pointer">
                        <td class="w-[400px] pl-6 py-3">@Model.Devices[i].Name</td>
                        <td class="w-[400px] py-3">@Model.Devices[i].Location</td>
                        <td class="w-[400px] py-3 pr-3 flex justify-end relative overflow-hidden">
                        @if (Model.Devices[i].DeviceStatus == 0)
                        {
                            <div class="flex gap-2 items-center">
                                <div class="bg-green-500 w-[25px] h-[25px] shadow-md rounded-full"></div>
                                    <p class="font-bold">Online</p>
                            </div>
                        }
                        else 
                        {
                            <div class="flex gap-2 items-center">
                                <div class="bg-red-500 w-[25px] h-[25px] shadow-md rounded-full"></div>
                                    <p class="font-bold">Offline</p>
                            </div>
                        }
                        </td>
                    </tr>
                    }
                    </tbody>
                </table> 
                }
            </div>
        </div>
    </div>
</div>